#!/bin/bash
# 04_trimmomatic.config
source "$(dirname "${BASH_SOURCE[0]}")/global_config.sh"

export JOB4_NAME="trimmomatic"
export JOB4_CPUS=4
export JOB4_TIME="04:00"
export JOB4_MEMORY="8GB"

export TRIM_ILLUMINACLIP="2:30:10"
export TRIM_SLIDINGWINDOW="4:20"
export TRIM_MINLEN="50"
export TRIM_HEADCROP="" # low-cov so were keeping as many bases as possible; check fastqc before to see if quality needs extra trimming

export TRIM_LOGS_O=${TRIM_DIR}/out
export TRIM_LOGS_E=${TRIM_DIR}/err
