#!/bin/bash
# 03_fastqc_before.config
source "$(dirname "${BASH_SOURCE[0]}")/global_config.sh"

export JOB3_NAME="fastqc_before"
export JOB3_CPUS=4
export JOB3_TIME="02:00"
export JOB3_MEMORY="4GB"

export FASTQC_BEFORE=${FASTQC_BEFORE_DIR}
export FASTQC_LOGS_O=${FASTQC_BEFORE}/out
export FASTQC_LOGS_E=${FASTQC_BEFORE}/err
export FASTQC_B_HTML=${FASTQC_BEFORE}/htmls
