#!/bin/bash
# 05_bwamem2.config
source "$(dirname "${BASH_SOURCE[0]}")/global_config.sh"

export JOB5_NAME="bwa_angsd"
export JOB5_CPUS=8
export JOB5_TIME="04:00"
export JOB5_MEMORY="12GB"
export BWA_SORT_THREADS=2

export ALIGN_DIR=${WORKING_DIR}/05_BWA_MEM2
export ALIGN_LOGS_O=${ALIGN_DIR}/out
export ALIGN_LOGS_E=${ALIGN_DIR}/err
