#!/bin/bash
# 05b_bwamem2_gatk.config
source "$(dirname "${BASH_SOURCE[0]}")/global_config.sh"

export JOB5B_NAME="bwa_gatk"
export JOB5B_CPUS=8
export JOB5B_TIME="04:00"
export JOB5B_MEMORY="12GB"
export BWA_SORT_THREADS=2

export ALIGN_GATK_DIR=${WORKING_DIR}/05_BWA_MEM2/gatk_downstream
export ALIGN_GATK_LOGS_O=${ALIGN_GATK_DIR}/out
export ALIGN_GATK_LOGS_E=${ALIGN_GATK_DIR}/err
