#!/bin/bash
# 07_bam_qc.config
source "$(dirname "${BASH_SOURCE[0]}")/global_config.sh"

export JOB7_NAME="07_bam_qc"
export JOB7_CPUS=4
export JOB7_TIME="04:00"
export JOB7_MEMORY="8GB"

export BAM_QC=${BAM_QC_DIR}
export BAM_QC_LOGS_O=${BAM_QC}/out
export BAM_QC_LOGS_E=${BAM_QC}/err

# Qualimap settings
export QUALIMAP_JAVA_MEM="6G"
export QUALIMAP_THREADS=${JOB7_CPUS}

# mosdepth settings
export MOSDEPTH_WINDOW=50000
export MOSDEPTH_THREADS=${JOB7_CPUS}

# Output subdirectories
export QC_ANGSD_QUALIMAP=${BAM_QC}/angsd/qualimap
export QC_ANGSD_MOSDEPTH=${BAM_QC}/angsd/mosdepth
export QC_GATK_QUALIMAP=${BAM_QC}/gatk/qualimap
export QC_GATK_MOSDEPTH=${BAM_QC}/gatk/mosdepth
