#!/bin/bash
# 08_haplotypecaller.config - GATK HaplotypeCaller in GVCF mode
source "$(dirname "${BASH_SOURCE[0]}")/global_config.sh"

export JOB8_INT_CPUS=6
export JOB8_INT_TIME="12:00"
export JOB8_INT_MEMORY="12GB"
export JOB8_INT_JAVA_HEAP="-Xmx10G"
export JOB8_INT_GC_THREADS=2
export JOB8_INT_PAIR_HMM_THREADS=4

export JOB8_MERGE_CPUS=2
export JOB8_MERGE_TIME="2:00"
export JOB8_MERGE_MEMORY="8GB"
export JOB8_MERGE_JAVA_HEAP="-Xmx6G"

export HC_LOGS_O=${HC_DIR}/out
export HC_LOGS_E=${HC_DIR}/err
